---
import Layout from '~/layouts/Layout.astro'
import { getAllSortedPosts } from '~/utils'
import PageHeader from '~/components/PageHeader.astro'
import TagsSection from '~/components/TagsSection.astro'
import BlockHeader from '~/components/BlockHeader.astro'

const sortedPosts = await getAllSortedPosts()
---

<Layout title="Tags" description="Browse all tags">
  <div class="mt-2 sm:mt-0">
    <PageHeader titlePieces={['tags']} />
    <TagsSection posts={sortedPosts} />
  </div>
</Layout>
